body{
    background: linear-gradient(90deg, rgba(238,226,203,1) 20%, rgba(173,142,121,1) 100%);
}

a{
    color: #AD8E79;
}

.container{
    background-color: white;
    border-radius: 1.5%;
}

.login-button{
    background-color: #AD8E79;
    color: white;
    border-radius: 10rem;
    border: solid;
    padding: 0.5rem 3rem;
}

